.prvdiv {
    padding: 6em;
    background: #cacaca;
    border: 1px solid black;
}

.vtordiv {
    padding: 6em;
    background: #cacaca;
    border: 1px solid black;
    margin-top: 1em;
}

.tret {
    padding: 6em;
    background: #cacaca;
    border: 1px solid black;
    margin-top: 1em;
}

.cetvrt {
    padding: 6em;
    background: #cacaca;
    border: 1px solid black;
    margin-top: 1em;
}